<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<title>Results</title>
</head>
<h1>Results</h1>
<h2>Your Phrase or Sentence</h2>
<p>
  @Model.SearchableString
</p>
<h2>Occurrences of Your Search Word: @Model.SearchWord</h2>
<p>
  @Model.Occurrences
</p>
<h2></h2>
<p><a href="/">Find another word</a></p>
